
#tablero{
    width: 500px;
    display: none;
    margin:auto;
}

section div.card{
    width: 150px; 
    height: 150px;
    cursor: pointer;
    background-position: center;
    background-size: cover;
}

.headline{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 5px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 20px;
}

div.jugador1, div.jugador2{
    display: flex;
    justify-content: center;
    gap: 30px;
}

#queJugador {
    display: none;
}

#myBtn{
    width: 100px;
}

#myBtn2 {
    width: 180px;
    display: none;
}

/* Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

  /* Modal  */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 40%; 
}

.modal-content div div{
    padding: 20px;
}

.modal-content img{
    width: 30px;
}

.modal-content input#player2{
    margin-bottom: 20px;
}

/* boton cierre */
.close {
    color: #aaa;
    text-align: right;
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}